/* ---------------------------------------------- global styles ----------------------------------------------*/

img {
    margin: 0;
}


/* ---------------------------------------------- blog-main__icons styles ----------------------------------------------*/

.blog-main__hr>hr {
    margin: 20px 32% 0;
    background-color: rgb(0, 0, 0);
    height: 3px;
    border-color: #000;
}

.blog-main-center {
    margin: 10px 20%
}

.blog-main-center__article-header {
    display: flex;
    align-content: stretch;
    align-items: center;
    line-height: 160%;
    margin-left: 20%;
}

.blog-main__article-header-logo {
    border-radius: 50px;
}

.blog-main__article-header-cont {
    font-family: 'New York Medium';
    font-size: 17px;
    margin-right: 31%;
    margin-left: 15px
}

.blog-main__article-header-cont>time {
    font-family: 'FontsFree-Net-SFProText-Medium';
    font-size: 16px;
}

.blog-main__article-header-cont>span {
    font-weight: 700;
    font-family: 'Neurial Grotesk Bold';
    letter-spacing: .05em;
    text-transform: uppercase;
}

.blog-main__button-facebook {
    display: flex;
    border: 1px double rgba(128, 128, 128, 0.322);
    background: rgb(255, 255, 255);
    padding: 8px 25px 5px;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.blog-main__button-facebook:hover,
.blog-main__button-twitter:hover {
    border: 2px solid #000;
}

.blog-main__button-twitter {
    display: flex;
    border: 1px double rgba(128, 128, 128, 0.322);
    background: rgb(255, 255, 255);
    padding: 8px 25px 5px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.article-text {
    margin: -16px 20%;
}

.article-text__gallery-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 20%;
    font-family: 'New York Medium';
}

.article-text__gallery-text-tags {
    font-family: 'FontsFree-Net-SFProText-Medium';
    font-size: 16px;
}

.article-text__gallery-text>p {
    line-height: 180%;
    font-weight: 100;
    font-size: 20px;
}

.article-text__gallery-text>h1 {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
    justify-content: center;
    font-size: 32;
}

.article-text__foto-mini {
    position: relative;
    overflow: hidden;
    width: 854px;
    height: 570px;
    margin-left: 10%;
}

.article-text__foto-mini>img {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    width: 854px;
    height: 570px;
    object-fit: cover;
}

.blog-main__icons>h6 {
    font-size: 16px;
    font-family: 'FontsFree-Net-SFProText-Medium';
    font-weight: 300;
    text-align: center;
    padding: 0 28%;
}

figcaption {
    text-align: center;
    margin: 0 20%;
}

.article-text__list {
    font-size: 20px;
    font-family: 'New York Medium';
    line-height: 160%;
}

.article-text__list>ul {
    list-style-type: square;
    /*"♦️"*/
    margin-left: -3%;
}

.footer-buttons {
    display: flex;
    border: 1px solid #eaeaea;
    box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
    border-radius: 4px;
}

.img-svg {
    margin-right: 10px;
}

.footer-buttons__twitter>img {
    margin-right: 10px;
}

.footer-buttons__facebook,
.footer-buttons__twitter {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1px 80px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'FontsFree-Net-SFProText-Medium', serif;
    color: #000;
    text-decoration: none;
    text-align: center;
    border: 1px solid #e8e8e8;
}

.footer-buttons__facebook:hover,
.footer-buttons__twitter:hover {
    color: blue;
    box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
}

.img-svg path:hover {
    fill: darkgreen;
}

.article-text__hr-dotted {
    margin: 20px 20%;
    padding: 0;
    height: 0;
    border: none;
    border-top: 2px dotted #ddd;
}

.article-text__tag1,
.article-text__tag2 {
    color: #000;
    text-decoration: underline;
}

.article-text__tag1:hover,
.article-text__tag2:hover {
    text-decoration: none;
}


/* ---------------------------------------------- title styles ----------------------------------------------*/

.title {
    overflow: hidden;
    text-align: center;
    padding-bottom: 2%;
    border-top: 2px solid #000;
    margin-top: 100px;
}

.title span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1.5%;
    position: absolute;
}

.blog-main__icons {
    margin: 0;
    padding: -20%;
}

.blog-main__icons2>p {
    font-family: 'New York Extra Large';
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    margin: 2% 17% -1% 17%;
}

.other-articles__read-next {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: -2% 5%;
}

.read-next__icons {
    text-align: center;
    text-decoration: none;
}

.read-next__img {
    width: 304px;
    height: 176px;
    object-fit: cover;
}

.read-next__img:hover,
.read-next__heading:hover {
    transform: scale(1.005);
    color: rgb(1, 165, 28);
}

.read-next__heading {
    font-size: 22px;
    font-family: 'SF Pro Display';
    font-weight: medium;
    text-align: center;
    color: black;
    padding: 0 9%;
}

.newsletter {
    border: 1px solid black;
    display: flex;
    max-width: 600px;
    flex-direction: column;
    text-align: center;
    margin: 5% 32%;
    border-top: 8px solid black;
}

.newsletter__text>h2 {
    margin-top: 50px;
    font-size: 36px;
    font-family: 'New York Extra Large';
    font-weight: bold;
    padding: 0 5%;
}

.newsletter__text>p {
    font-size: 20px;
    font-family: 'FontsFree-Net-SFProText-Medium';
    padding: 0 7%;
    margin-top: -10px;
    margin-bottom: 30px;
}

.newsletter__registration {
    padding-bottom: 5%;
}

.newsletter__registration>input {
    margin-left: -10px;
    padding: 2% 25% 2% 1%;
    font-weight: 400;
    width: calc(90% - 7.625rem);
}

.newsletter__registration>input,
.newsletter__registration>button {
    font-size: 20px;
    font-family: 'FontsFree-Net-SFProText-Medium';
    border-radius: 0;
    border: 1px solid black;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgb(0, 0, 0);
}

.newsletter__registration>button {
    color: white;
    background-color: #000;
    padding: 2% 2%;
    margin-left: -5px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 1280px) {
    /* ---------------------------------------------- header styles ----------------------------------------------*/
    .header {
        padding: -20% 0;
    }
    /* ---------------------------------------------- blog-main__icons styles ----------------------------------------------*/
    .blog-main-center__article-header {
        margin: 0 15px;
    }
    .blog-main__hr>hr {
        margin: 20px 2%;
        background-color: rgb(0, 0, 0);
        height: 5px;
        border-color: #000;
    }
    .blog-main__article-header-cont {
        float: left;
        margin-right: 15%;
    }
    .blog-main__icons>h6 {
        padding: 0 5%;
        margin: -1% 0;
    }
    .article-text__foto-mini {
        margin: 0;
        width: auto;
        height: 400px;
    }
    .article-text__gallery-text {
        padding: 0 15px;
        margin: 0;
    }
    .footer-buttons__facebook,
    .footer-buttons__twitter {
        padding: -100px;
    }
    /* ---------------------------------------------- other-articles styles ----------------------------------------------*/
    .other-articles__read-next {
        display: flex;
        flex-wrap: wrap;
    }
    .newsletter {
        margin: 10% 0;
    }
    /* ---------------------------------------------- title styles ----------------------------------------------*/
    .blog-main__icons {
        margin: 2% 0 6% 0;
    }
}